* {
	font-family: Verdana, Arial, Tahoma, Helvetica, sans-serif;
	padding:0;
	margin:0;
	color: #303030;
}


/* =========================================================== */
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color:#fcfcff;
}

/*   */
div.post
/*,*/
/*div.top_menu,*/
/*div.pics_on_main,*/
/*div.posts_on_main,*/
/*div.simple */
{
	/*background-color:#fff;*/
	-webkit-box-shadow: 3px 3px 25px #aaa;
	-moz-box-shadow: 3px 3px 25px #aaa;
	-ms-box-shadow: 3px 3px 25px #aaa;
	-o-box-shadow: 3px 3px 25px #aaa;
	box-shadow: 3px 3px 25px #aaa;
}




body {
	text-align: center;
}

#outer {
	min-height: 100%;
}

#outer,
#footer {
	min-width: 1000px;
	max-width: 1600px;
	margin: auto; /* center it */
	text-align: left;
}

#content {
	padding-bottom: 13em;
	min-height:20em;
}
#footer {
	height: 13em;
	margin-top: -13em;
	position:relative;
}
/* =========================================================== */
div {
	text-align:left;
}
.hidden_link {
	text-decoration: none;
	color: #ffffff;
	border-bottom: dashed 0px #ffffff;
}
.hidden_link:hover {
	text-decoration: none;
	color: #ffffff;
}
A {
	color: #6b8cb7;
	text-decoration: underline;
}	
A:hover {
	text-decoration: none;
	/*border-bottom: dotted 1px #f4560f;*/
	color: #f4560f;
}
span.dashed {
   	color: #6b8cb7;
	text-decoration: none;
	border-bottom: dashed 1px #6b8cb7;
}
span.dashed a {
	text-decoration: none;
}
span.dashed a:hover {
	border-bottom: solid 1px #f4560f;
    	color: #f4560f;
}
img {
	border: 0;
}
a.hidden {
	color: #666666;
	text-decoration: none;
}
.local_link {
	border-bottom:1px dashed #6B8CB7;
	cursor:pointer;
}

.promo p, .promo h6 {
	padding-left:1em;
	padding-right:1em;
}
a.local_link {
	text-decoration:none;
}
.external_link {
	padding-right:13px;
	background:url('../images/external_link.gif') no-repeat right center;
	border-bottom:1px solid #6B8CB7;
	cursor:pointer;
}
.external_link:hover {
	border-bottom:1px dotted #6B8CB7;
}
.external_link a {
	text-decoration:none;
	border-bottom:none;
}
.external_link a:hover {
	text-decoration:none;
	border-bottom:none;
}
a.external_link {	
	border-bottom:none;
}
a.external_link:hover {
	text-decoration:none;
	border-bottom:none;
}

.on {
	background-color: #ABDAEA;	
}

.hidden {
	display:none;
}
#close_iframe {
	position:absolute;
	margin-left:400px;
}
hr {
	margin:1em 0;
}
#OpenID_Ajax_Login{
	border:1px dotted #8080ff;
	position:absolute;
	margin-top: 3em !important;
}
p {
	margin: 0 0 1em 0;
	font-size: 0.8em;
}
pre {
	font-size: 0.8em;
}
pre, div.codeAnswer, div.codeAnswerAnlim{
	margin: 0 0 0.5em 0;	
	padding:0.5em;
	overflow:auto;
}
pre, div.codeAnswer, div.codeAnswerAnlim, code {
	background-color:#f0ffff;
}
label {
	margin: 0 0 0.5em 0;
	font-size: 0.8em;
}
textarea {
	margin: 0 0 0.5em 0;
	font-size: 0.8em;
}
ul {
	font-size: 0.8em;
}
ul li {
	margin-bottom:0.5em;
}
h1 {
	margin: 0.5em 0 1em 0;
	font-size: 150%;
	font-weight:normal;	
}
h2 {
	margin: 1em 0 0.5em 0;
	font-size: 125%;
	font-weight:normal;	
}
h3 {
	margin: 1em 0 0.5em 0;
	font-size: 110%;
	font-weight:normal;	
}
h4 {
	margin: 1em 0 0.5em 0;
	font-size: 105%;
	font-weight:normal;	
}
h5 {
	margin: 1em 0;
	font-size: 90%;
	font-weight:bold;	
}
h6 {
	margin: 0 0 1em 0;
	font-size: 80%;
	font-weight:bold;	
}
.clear{
	clear:both;
}
.clear_left{
	clear:left;
}
.clear_right{
	clear:right;
}
.alert{
	color:#ff0000;
}
.good_alert{
	color:#00a000;	
}
span.alert,span.good_alert{
	position:absolute;
}
.alert_border{
	border:1px #ff0000 solid;
	background-color:#fff0f0;
}
div.left_code,div.right_code {
	font-size:0.8em;
}
/* ************************************************ */

div.post {
	border:1px #e8e8e8 solid;
	margin-bottom:2em;
	
}
div.datetime {	
	margin:0.5em 3%;
	text-align:center;
}
div.message {
	margin:0.5em 3%;	
}
div.post div.image {
	margin:1em 5%;
	text-align:center;
}
div.about {
	float:left;
	margin:0 0 0.5em 3%;
	border-top:1px dashed #e8e8e8;	
	max-width:70%;
}
div.about p {
	font-size:0.7em;
}
div.blank {
	height:1em;
}
div.comments {		
	float:right;
	text-align:right;
	margin:0.5em 3% 0.5em 0.5em;
}
div.comments p {		
	margin-right:0;	
	font-size:0.7em;
	display:inline;
}
div.datetime p {
	font-size:0.55em;
}
p.datetime {
	font-size:0.55em;
	margin-bottom:0.2em;
}

div.top_menu {
	margin:0 3% 2em 3%;
	padding-top:1em;
	font-size: 16px;
	color: #aaa;
}

.top_menu a {
	/*color: #ccc;*/
	/*text-decoration: none;*/
}

.top_menu noindex {
	/*color: #ccc;*/
}

div.top_menu li {
	display:inline;
	margin:0 1.5em 0.5em 0;
}

div.top_menu li:nth-child(5),
div.top_menu li:nth-child(6),
div.top_menu li:nth-child(7)
{
	display: none;
}

div.top_menu li.spec {
	position:absolute;
	margin-top:2em;
	left:3%;
}
div.title {	
	text-align:center;
	margin:0 3% 1em 3%;
}




div.posts_on_main {
	margin:0 0 2em 3%;
	width:66%;
	
}
div.simple {
	margin:1em 3% 1em 3%;
	text-align:left;
	
}
div.simple p.prev {
	width:50%;
}
div.simple p.next {
	float:right;
	width:50%;
	text-align:right;
}


div.google_adv {
	text-align:center;
	padding-top:1em;
	/*width: 90%;*/
}
div.copyright {
	padding-top:1em;
	margin:0 3%;
	/*border-top:1px dashed #e8e8e8;*/
}
div.copyright p {
	float:left;
	width:20%;	
}
div.copyright p.copyright {
	text-align:center;
	width:100%;
}
div.copyright p.counts {
	text-align:right;	
}
div.posts_on_main div.simple {
	margin:1em 0;
}
div.title div.posts_on_main {
	margin:1em 0;
}

/* comments */
div.user_comment {
	margin-bottom:1.5em;	
}
div.user_name {
	border-left:2px #6B8CB7 dotted;
	border-top:1px #6B8CB7 dashed;	
	padding:0 0.15em 0 0.2em;	
	float:left;
	margin:0 1em 0.5em 0;
}
div.user_name p {
	font-size:0.9em;
	margin:0;
}
div.user_comment_time {
	float:left;	
}
div.user_comment_time p {
	font-size:0.55em;
	margin:0;
	display:inline;
}
div.user_message {
	clear:left;
}
div.user_mind  {	
	border-top:1px dashed #E8E8E8;
	padding-left:0.15em;
	float:left;
}
div.user_mind p {
	font-size:0.7em;	
	margin:0;
}
div.empty_1{
	margin:1em;	
}
#post_message{
	display:none;
}
label {
	float:left;
	margin:0 1em 1em 0;
	min-width:13em;
	text-align:right;
}
#post_message input,
#post_message textarea{	
	float:left;
	margin:0 0.5em 0.5em 0;
	font-size:0.8em;
}
#user_post_name {
	border:0;
	background:transparent;
}
input.noborder, textarea.noborder{
	border:0;
	background:transparent;
}
textarea {
	width:60%;
	height:7em;
}
textarea.readonly{
	background-color:#ffffff;
	border:1px solid #7f9db9; 
}
input {
	width:30%;	
}
input.submit {
	width:auto;
}
input.checkbox {
	width:auto;
}
p.input_help,
p.textarea_help {
	font-size:0.55em;	
	color:#a0a0a0;
	float:left;
	margin:0 0.5em 0 0;
}

/* blog */
div.months p {
	float:left;
	margin:0 0.5em 1em 0;
}
div.months h6 {
	clear:left;
	margin:0.5em 0;
}
p.ps {
	font-size:0.6em;
}

/* картинки blog станис */
div.wide {
	width:100%;
	margin:0 0 1em 0;
	padding:1em 0;
}
div.black {
	background-color:#000000;
}
#blogstanis form, #blogstanis_black form {
	text-align:center;
}
#blogstanis div, #blogstanis_black div {
	margin-top:1em;
	text-align:center;
}
img.left, a.left, div.left {
	float:left;
}
div.right {
	float:right;
}

span.rss,span.rss-head{
	float:left;
	/*margin:0 0 0 0.5em;*/
	height:15px;
	background:url('../_i/RssAndLittle.gif') left top no-repeat;
}
span.rss {
	width:36px;	
	background-position:0 0;
}
span.rss-head {
	width:15px;
	background-position:-36px 0;
}
a.div_href{
	text-decoration:none;
	cursor:pointer;
	color:#030303;
}

#img_1 {
	margin:0 0 0 0.5em;
}

/* browser-update */

	/*div.browser_list * { padding:0; margin:0; font-size:100%; }*/
	div.browser_list ul {		
		list-style-image:none;
		list-style-position:inside;
		list-style-type:none;
	}
	div.browser_list ul li { margin-bottom:1em; }
	div.browser_list .image { width:36px; height:36px; 
		background:url('../_i/browser_icons.jpg') left top no-repeat;
		float:left;
		margin-right:10px;		
	}
	div.browser_list .image a { width:36px; height:36px; }
	div.browser_list .image a span { cursor:pointer; width:36px; height:36px; }
	div.browser_list .Firefox { background-position:0 0; }
	div.browser_list .Chrome { background-position:-36px 0; }
	div.browser_list .Safari { background-position:-72px 0; }
	div.browser_list .IE { background-position:-108px 0; }
	div.browser_list .Opera { background-position:-144px 0; }
	div.browser_list .image div { width:100%; height:100%; }
	div.browser_list .clear { clear:both; }
	div.browser_list .text { float:left; }
	
	div.browser_list .text h4 { margin-bottom:0.5em; }
	div.browser_list .text p { font-size:95%; margin-bottom:0.5em; }
	
	.good_browser { background:#47ff50; padding:0.3em; margin:0.2em; }
	.bad_browser { background:#ff5656; padding:0.3em; margin:0.2em; }

	
/* user_reg */	

#user_reg input, #user_reg textarea {
	float:left;
	font-size:0.8em;
	margin:0 0.5em 0.5em 0;
}

span.rur { text-transform: uppercase; }
span.rur span { position: absolute; overflow: hidden; width: .45em; height: 1em; margin: 2px 0 0 -0.6em; }
span.rur span:before { content: '\2013'; }


/* search */
.ya-results li {
	margin-bottom:1em;
}
.ya-title,
.ya-text,
.ya-info, 
.ya-refblock {
	margin-bottom:0.5em;
}
.ya-info {
	font-size:0.7em;	
}
.ya-info,
.ya-info a {
	color:#b0b0b0;
} 
.ya-copyright,
.ya-copyright a {
	font-size:0.5em;
	color:#fff;
}
.ya-title,
.ya-refblock,
.ya-text {
	font-size:0.8em;
}
.search {
	/*text-align:right;*/
	margin:0 1em 1em 0;
}
.search input {
	width:10%;
}
.search input.submit {
	width:auto;
}

/*атом блог*/

.bottom_line { 
	border-top:solid 1px #c0c0c0;
	padding-top:2px; 
}

/* чат */

ul.chat li p { display:inline; margin:0 1em 0.5em 0; font-size:0.9em; }
ul.chat li p.dt { font-size:0.8em; }
ul.chat { list-style: none; }
ul.chat li p.post_num{ padding:0 0.1em; }

/* рейтинги */

.rateup, .ratedown { cursor:pointer; padding:0 0.2em; }
.rateup:hover, .ratedown:hover { background-color:#e8e8ff; }
.rateup { margin:0 0 0 0.4em; }

div.comments p.ratemade { margin:0 0 0 1em; }
div.user_comment_time p.ratemade{ margin:0 0 0 1.5em; font-size:0.8em; }

div.comments p.aboutrate,
div.user_comment_time p.aboutrate  { display:none; }

/* tech */

div.codeAnswer { max-height:7.5em; }

/* game */

#player1, #player2, #pole { float:left; }
#player1, #player2 { width:15%; height:600px; }
#pole { width:69.99%; height:600px; background:#fff; position:relative; }
#gameField { background:#f0f0f0; height:700px; }
.powerImage { height:100px; }
#test { height:2em; }

/* google_promo */

.google_promo{
	text-align:center;
	padding-top:0.5em;
	padding-bottom:0.5em;
}


.ico {
	background: no-repeat 0 0;
	padding-left: 20px;
}

.twitter {
	background-image: url('/f/i/twitter.ico');
}

#micro_nav {
	/*position: absolute;*/
	/*top: 0.5em;*/
	/*right: 1em;*/
}

#micro_nav .like {
	margin-top: 1em;
}

.like ul {
	list-style: none;
}

.like ul li {
	margin-bottom: 0.5em;
}

div.pics_on_main {
	position: fixed;
	/*margin: 0.5em 0.5em 0 0;*/
	top: 0.5em;
	right: 0.5em;
	width: 180px;
}

div.promo, #footer{
	/*background-color: #aaa;*/
	/*background:transparent url('../images/bg.gif') repeat scroll 0 0;*/
	/*border: 1px dashed #aaa;*/
}

div.promo {
	/*position: static;*/
	/*top: 0.5em;*/
	/*right: 0.5em;*/
	/*padding: 0.5em;*/
	font-size: 0.9em;
	margin-bottom: 2em
}

div.google-promo {
}

div.promo p {
	padding: 0;

}

.like-by-yandex {
	position: absolute;
	top: 8em;
	right: 0;
}

.like-by-yandex a {
	float: none;
	display: block;
}



/*==============*/

/*html, body {*/
	/*padding: 1em;*/
/*}*/

/* global */
/*.comments-v12 p, ul, li {*/
	/*margin: 0;*/
	/*padding: 0;*/
/*}*/
/*.comments-v12 p, li {*/
	/*margin: 0 0 0.5em 0;*/
/*}*/
.comments-v12 .pseudo_link {
	color: #007bc3;
	border-bottom: 1px dashed #94b8de;
	cursor: pointer;
}
.comments-v12 .hidden {
	display: none !important;
}

.comments-v12 .navigation-x {
	margin-bottom: 1em;
}
.comments-v12 .navigation-x li {
	float: left;
	list-style: none;
	text-indent: 0;
	margin: 0 0 0 1em;
	display: block;
}
.comments-v12 .navigation-x li:first-child {
	margin-left: 0;
}
.comments-v12 .navigation-x:after {
	content:'';
	display: block;
	clear: both;
}
.comments-v12 .navigation-x {
	//zoom: 1;
}

/* tab */
.comments-v12 .tab .c {
	padding: 0.1em 0.5em;
	position: relative;
}
.comments-v12 .tab.selected .c {
	background-color: #eee;
}
.comments-v12 .navigation-x .tab-bg {
	position: absolute;
	top: 0;
	width: 2em;
	height: 1em;
	left: 0;
	top: 0;
	padding: 0;
	margin: 0;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;

	-webkit-box-shadow: 0 0 1em #000;
	-moz-box-shadow: 0 0 1em #000;
	-ms-box-shadow: 0 0 1em #000;
	-o-box-shadow: 0 0 1em #000;
	box-shadow: 0 0 1em #000;
}

.comments-v12 .tab-c.hidden {
	display: block !important;
}
.js .comments-v12 .tab-c.hidden {
	display: none !important;
}


/* dev */
.comments-v12 .tab-c {
	padding-left: 0.5em;
	border-left: 2px dotted;
}
.comments-v12 .set1.tab-c {
	border-color: #007bc3;
}
.comments-v12 .set1.tab-bg {
	background-color: #007bc3;
}
.comments-v12 .set2.tab-c {
	border-color: #65DA33;
}
.comments-v12 .set2.tab-bg {
	background-color: #65DA33;
}
